body{
  margin:0;
  font-family:Arial;
  background:#f4f7fb;
}

nav{
  background:#0b3d91;
  color:white;
  padding:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

nav a{
  color:white;
  margin:0 10px;
  text-decoration:none;
}

.hero{
  text-align:center;
  margin-top:100px;
}

.hero h1{
  font-size:40px;
  color:#0b3d91;
}

.title{
  text-align:center;
  margin-top:30px;
  color:#0b3d91;
}

.box{
  width:60%;
  margin:20px auto;
  display:block;
  padding:10px;
}

textarea, input{
  width:100%;
  padding:10px;
  margin:5px 0;
}

button{
  padding:10px 20px;
  background:#0b3d91;
  color:white;
  border:none;
  cursor:pointer;
}

.tips{
  width:50%;
  margin:20px auto;
}